	<!DOCTYPE html>
	<html lang="en"> 
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>بیمارستان بومری </title>
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
		<script src="js/modernizr.js"></script>
		<!--[if lt IE 9]>
		  <script src="js/html5shiv.js"></script>
		  <script src="js/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>

		<!-- ====================================================
		header section -->
		<header class="top-header">
			<div class="container">
				<div class="row">
					<div class="col-xs-5 header-logo">
						<br>
						<a href="paziresh.html"><img src="img/logo.png" alt="" class="img-responsive logo"></a>
					</div>

					<div class="col-md-7">
					<col="RED">
						<nav class="navbar navbar-default">
						  <div class="container-fluid nav-bar">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
							  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							  </button>
							</div>

							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav navbar-right">
					<li><a class="menu" href="index.html" >خانه</a></li>
					<li><a class="menu" href="paziresh.html"> پذیرش </a></li>
					<li><a class="menu active" href="pharmacy.html"> داروخانه</a></li>
					<li><a class="menu" href="lab.html"> آزمایشگاه</a></li>
					<li><a class="menu" href="doctor.html"> دکتر</a></li>
														


							  </ul>
							</div>
	<!-- /navbar-collapse -->
						  </div><!-- / .container-fluid -->
						</nav>
					</div>
				</div>
			</div>
	</header> <!-- end of header area -->	<!-- end of slider section -->

		<!-- about section -->
		<section class="about text-center" id="about">
			<div class="container">
	<div class="row">

	</div>
	<div>
	  <h1 class="text-center">پذیرش</h1>
	  <h1>&nbsp;</h1>
	  <h1> داروها - اضافه کردن<br>
      </h1>
	  <p>&nbsp;</p>
	
	</div>
	<p></p>
	<div>
	<form method="POST" action="/medicineAccountPage">
	   <li>نام دارو </li> <input type="text" name="medicineName" />
	    <li>موجودی    </li> <input type="text" name="availableQuantity"/>
	   <li> قیمت واحد</li> <input type="text" name="price"/>
	   	   <li> شماره دارو</li> <input type="text" name="medicineNumber"/>

	<p></p>
	<li>
		<input type="submit" value="Add" id="addMedicineButton"/>
		</li>
		<p></p>
		<div>
		<center>
<table>
    داروها
    <tbody>
    <tr th:each="medicines: ${medicine.getMedicine()}">
        <td th:text="${medicine.toString()}">Medicines go here</td>
    </tr>
    </tbody>
</table>
</center>
</div>
<div>
	  <h1> داروها - تغییر </h1>
<form method="POST" action="/medicineAccountPage">
	   <li>شماره دارو </li> <input type="text" name="medicineNumber" />
	    <li>تعداد    </li> <input type="text" name="availableQuantity"/>
	    <br></br>
		<input type="submit" value="edit" id="editMedicineButton"/>

	</div>
	
	<div>
	  <h1> داروها - حذف </h1>
<form method="POST" action="/medicineAccountPage">
	   <li>شماره دارو </li> <input type="text" name="medicineNumber" />
	    <br></br>
		<input type="submit" value="delete" id="deleteMedicineButton"/>

	</div>
	
		</section>


		


		<!-- script tags
		============================================================= -->
		<script src="js/jquery-2.1.1.js"></script>
	<script src="js/smoothscroll.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/custom.js"></script>
	<script src="js/paziresh.js"></script>
	</body>
	</html>